body {
  align-items: center;
  background-color: #d6e1f0;
  display: flex;
  height: 100vh;
  justify-content: center;
}

h1,
p {
  font-family: 'Outfit', sans-serif;
  margin: 20px;
}

.qr-card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  height: 470px;
  margin-top: -10px;
  min-width: 200px;
  padding: 15px;
  width: 300px;
}

.qr-card img {
  border-radius: 20px;
  height: 290px;
  width: 100%;
}

.qr-card .main {
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.qr-card .info {
  color: hsl(220, 15%, 55%);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
