body {
  align-items: center;
  background-color: #d6e1f0;
  display: flex;
  height: 100vh;
  justify-content: center;
}

h1,
p {
  font-family: 'Outfit', sans-serif;
  margin: 19px 20px 19px 20px;
}

.qr-card {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 1px 10px hsl(220deg 35% 75%);
  height: 497px;
  margin-top: -15px;
  text-align: center;
  width: 320px;
}

.qr-card img {
  border-radius: 10px;
  height: 288px;
  margin-top: 16px;
  width: 288px;
}

.qr-card .main {
  color: #1f314f;
  font-family: 'Outfit';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  height: 56px;
  line-height: 28px;
  text-align: center;
}

.qr-card .info {
  color: #7d889e;
  font-family: 'Outfit';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1875px;
  line-height: 19px;
  margin: 0 32px 32px;
  text-align: center;
}
